body {
    background-color: antiquewhite;
}

.btns {
    display: flex;
    gap: 1.5rem;
}

.btns button {
    background-color: cadetblue;
    color: beige;
    border-radius: 10px;
}

.statistic {
    line-height: 1.4;
}
